<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {% include 'head' %}
  {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }}">
  {%- comment -%}\
  {% section 'header' %}
  {%- endcomment -%}

  <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>

  {%- comment -%}
  {% section 'footer' %}
  {%- endcomment -%}
</body>
</html>
