section.hero-banner  {
    position: relative;
  
    .image-wrapper {
        width: 100%;
        height: 640px;
        overflow:hidden;
        @include query-medium-up {
            height: 500px;
        }
        img {
            width: 100%;
            object-fit: cover;
            @include query-small {
                height: 640px;
            }
            @include query-medium-up {
                height: 500px;
            }
        }
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include query-small {
            padding: 0 40px;
            text-align: center;
        }

        @include query-medium-up {
            width: 50%;
            max-width: 583px;
            padding: 0 40px;

            &.align-left {
                left: 0;
            }
    
            &.align-center {
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
    
            &.align-right {
                right: 0;
            }
        }

        .section-title {
            @extend .title-font-1;
            margin-bottom: 20px;
        }
        .section-copy {
            @extend .copy-font-1;
            margin-bottom: 25px;
        }
        .cta {
            display: inline;
            white-space: nowrap;
            @extend .cta-font-1;
            color: #FFFFFF;
            background-color: #57AD68;
            line-height: 57px;
            padding: 16.5px 52px;
            text-decoration: none;
            border-radius: 28px;
            
            &:hover {
                color: #57AD68;
                background-color: #FFFFFF;
            }
        }
    }
}

.home-carousel {
    .splide__track {
        margin: 40px;
    }
    .splide__slide .content {
        background-position: center; 
        background-repeat: no-repeat;

        height: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

        .header-text {
            font-size: 35px;
            color: white;
            margin-bottom: 15px;
        }
        .body-text {
            font-size: 14px;
            color: white;
            margin-bottom: 15px;
        }
        .cta {
            text-decoration: none;
            color: coral;
            height: 40px;
            width: 200px;
            line-height: 40px;
            text-align: center;
            background-color: greenyellow;

        }
    }
}